*.pkl

checkpoints/
cache/
data/
**/data/

__pycache__/
*.py[cod]
*$py.class

debug.ipynb
.ipynb_checkpoints/

venv/
.env/
*.venv
*.env

*.log
logs/

*.local
*.vscode/
.idea/
*.iml

Pipfile
Pipfile.lock
poetry.lock

**/.ipynb_checkpoints/


*.sqlite3
*.db
*.pdb

.DS_Store  # macOS
Thumbs.db  # Windows
